# Introduction

### Project initialization and setup

In [ ]:
# Importing all the libraries
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Display options
pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 120)

In [ ]:
DB_PATH = "viewer_interactions.db"

conn = sqlite3.connect(DB_PATH)
print("Connected to:", DB_PATH)

Tables actually inside the database:
               name
0    viewer_ratings
1            movies
2   user_statistics
3  movie_statistics
4   data_dictionary
5      sqlite_stat1
6      sqlite_stat4

In [ ]:
conn = sqlite3.connect("viewer_interactions.db")

# 1. Look at the main ratings table (first 20 rows)
df_ratings = pd.read_sql("SELECT * FROM viewer_ratings LIMIT 20", conn)
print("viewer_ratings (first 20 rows):")
print(df_ratings)

# 2. Quick summary – how many ratings total?
total = pd.read_sql("SELECT COUNT(*) as total_ratings FROM viewer_ratings", conn)
print(f"\nTotal number of ratings: {total.iloc[0,0]:,}")

# 3. See movie titles (if you ever need them)
movies = pd.read_sql("SELECT * FROM movies LIMIT 10", conn)
print("\nmovies table sample:")
print(movies)

# 4. Data dictionary – super useful to understand columns!
dictionary = pd.read_sql("SELECT * FROM data_dictionary", conn)
print("\nData dictionary (what each column means):")
print(dictionary)

conn.close()

viewer_ratings (first 20 rows):
    movie_id  customer_id  rating        date  anomalous_date
0         17      1481737     3.0  2005-10-09             NaN
1       9236      1448424     5.0  2005-11-15             NaN
2       4640      2308980     NaN  2005-08-06             NaN
3       9330       674346     3.0  2005-04-29             NaN
4       4570      1304045     4.0  2005-09-19             NaN
5       9320      1036533     5.0  2004-08-05             NaN
6        191      2066911     NaN  2003-12-24             NaN
7       4590       670110     5.0  2005-05-17             NaN
8         44       707611     5.0  2005-03-13             NaN
9       4590      2389674     3.0  2005-09-06             NaN
10       191      1493723     4.0  2005-12-02             NaN
11      9279        14728     4.0  2003-12-21             NaN
12      4545       323005     5.0  2004-12-05             NaN
13     13384      1819254     4.0  2005-08-17             NaN
14      9234       781042     2.0  2004-06-02             NaN
15     21132      2122225     3.0  2006-03-27             1.0
16      9426       677070     4.0  2005-05-18             NaN
17      9410       474437     5.0  2005-05-09             NaN
18       191       698210     5.0  2004-12-02             NaN
19      9279       868680     3.0  2003-11-24             NaN

Total number of ratings: 4,025,000

movies table sample:
   movie_id  year_of_release                         title
0         1           2003.0               Dinosaur Planet
1         2           2004.0    Isle of Man TT 2004 Review
2         3           1997.0                     Character
3         4           1994.0  Paula Abdul's Get Up & Dance
4         5           2004.0      The Rise and Fall of ECW
5         6           1997.0                          Sick
6         7           1992.0                         8 Man
7         8           2004.0    What the #$*! Do We Know!?
8         9           1991.0      Class of Nuke 'Em High 2
9        10           2001.0                       Fighter

Data dictionary (what each column means):
          table_name         field_name data_type  \
0     viewer_ratings           movie_id   integer
1     viewer_ratings        customer_id   integer
2     viewer_ratings             rating   integer
3     viewer_ratings               date      date
4             movies           movie_id   integer
5             movies    year_of_release   integer
6             movies              title    string
7    user_statistics        customer_id   integer
8    user_statistics      total_ratings   integer
9    user_statistics         avg_rating     float
10   user_statistics         std_rating     float
11   user_statistics         min_rating   integer
12   user_statistics         max_rating   integer
13   user_statistics      unique_movies   integer
14   user_statistics  first_rating_date      date
15   user_statistics   last_rating_date      date
16   user_statistics      activity_days   integer
17  movie_statistics           movie_id   integer
18  movie_statistics              title    string
19  movie_statistics    year_of_release   integer
20  movie_statistics      total_ratings   integer
21  movie_statistics         avg_rating     float
22  movie_statistics         std_rating     float
23  movie_statistics         min_rating   integer
24  movie_statistics         max_rating   integer
25  movie_statistics       unique_users   integer
26  movie_statistics  first_rating_date      date
27  movie_statistics   last_rating_date      date
28         _metadata    dataset_version    string
29         _metadata      academic_year    string
30         _metadata       last_updated      date

                                          description
0   Unique movie identifier (1-17770 for original ...
1   Anonymous customer identifier (1-2649429 with ...
2             Rating score (1-5 stars, integers only)
3   Date when rating was given (YYYY-MM-DD, range:...
4                             Unique movie identifier
5   Year of DVD release (1890-2005, may differ fro...
6   Movie title in English (Netflix titles, may di...
7                       Anonymous customer identifier
8               Total number of ratings given by user
9                        Average rating given by user
10                      Standard deviation of ratings
11                               Minimum rating given
12                               Maximum rating given
13                      Number of unique movies rated
14                               Date of first rating
15                                Date of last rating
16                 Days between first and last rating
17                            Unique movie identifier
18                                        Movie title
19                                    Year of release
20                   Total number of ratings received
21                            Average rating received
22                      Standard deviation of ratings
23                            Minimum rating received
24                            Maximum rating received
25                   Number of unique users who rated
26                               Date of first rating
27                                Date of last rating
28                                Luiss ML/AI-project
29                                          2025-2026
30                                         2005-12-31